# Copyright Contributors to the Open Cluster Management project

name: Go

on:
  push:
    branches: [ main, release-* ]
  pull_request:
    branches: [ main, release-* ]

env:
  GO_VERSION: '1.25'

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: verify
        run: make verify

  unit-test:
    runs-on: ubuntu-latest
    env:
      GOPATH: /tmp/go
    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: Create GOPATH src directory
      run: mkdir -p $GOPATH/src/github.com/open-cluster-management
    - name: Check out code
      uses: actions/checkout@v3
      with:
        fetch-depth: 1
    - name: Copy the code into the GOPATH
      run: cp -r . $GOPATH/src/github.com/open-cluster-management/clusteradm
    - name: Unit Tests
      working-directory: ${{ env.GOPATH }}/src/github.com/open-cluster-management/clusteradm
      run: make test

  integration-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: Integration Tests
      run: make test-integration
  
  e2e-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: E2E Tests
      run: make test-e2e
